.body-welcome {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.html-welcome {
  background: url("../../Images/Wallpapers/bg_still_water.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-welcome {
    background-color: #181818;
}

.navbar-brand {
  float: none;
  }

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}