@model TicketManagement.ViewModels.FacebookIndexViewModel
@{
    ViewBag.Title = "Facebook";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

<h2>Facebook Management</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @if (!Model.IsLoggedIn)
            {
                <button class="btn btn-danger disabled" type="button" style="width: 100%">
                    Logged In <span class="badge"><i class="fa fa-times"></i></span>
                </button>
            }
            else
            {
                <button class="btn btn-success disabled" type="button" style="width: 100%">
                    Logged In <span class="badge"><i class="fa fa-check"></i></span>
                </button>
                <hr/>

                using (Ajax.BeginForm("_Partial_FacebookProfileSummary", "Facebook", new AjaxOptions
                {
                    OnFailure = "handleError(xhr, 'fb_profile_summary')",
                    HttpMethod = "Get",
                    UpdateTargetId = "fb_profile_summary",
                    LoadingElementId = "fb_profile_summary_loading"
                },
                    new
                    {
                        id = "fb_profile_summary_form"
                    }))
                {
                    <div id="fb_profile_summary_loading" style="display: none;">
                        <img src="~/Content/Images/Shared/loading.gif"/>
                    </div>
                }
                <div id="fb_profile_summary"></div>
            }

            <hr/>

        </div>
        <div class="col-md-10">
            <h4>Facebooks</h4>
            <br/>

            @using (Ajax.BeginForm("_Partial_FacebookAdminPage", "Facebook", new AjaxOptions
            {
                OnFailure = "handleError(xhr, 'fb_admin_pages')",
                HttpMethod = "Get",
                UpdateTargetId = "fb_admin_pages",
                LoadingElementId = "fb_admin_pages_loading"
            },
                new
                {
                    id = "fb_admin_pages_form"
                }))
            {
                <div id="fb_admin_pages_loading" style="display: none;">
                    <img src="~/Content/Images/Shared/loading.gif"/>
                </div>
            }
            <div id="fb_admin_pages"></div>

        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Site/Shared/Ajax_error_handler.js")

<script type="text/javascript">
    $('#fb_profile_summary_form').submit();
    $('#fb_admin_pages_form').submit();
</script>