@model TicketManagement.ViewModels.FacebookIndexViewModel
@{
    ViewBag.Title = "Facebook";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

<h2>Facebook Management</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            @if (!Model.IsLoggedIn)
            {
                <button class="btn btn-danger disabled" type="button" style="width: 100%">
                    Logged In <span class="badge"><i class="fa fa-times"></i></span>
                </button>
            }
            else
            {
                <button class="btn btn-success disabled" type="button" style="width: 100%">
                    Logged in <span class="badge"><i class="fa fa-check"></i></span>
                </button>
                <hr />

                using (Ajax.BeginForm("_Partial_FacebookProfileSummary", "Facebook", new AjaxOptions
                {
                    OnFailure = "handleError(xhr, 'fb_profile_summary')",
                    HttpMethod = "Get",
                    UpdateTargetId = "fb_profile_summary",
                    LoadingElementId = "fb_profile_summary_loading"
                },
                    new
                    {
                        id = "fb_profile_summary_form"
                    }))
                {
                    <div id="fb_profile_summary_loading" style="display: none;">
                        <img src="~/Content/Images/Shared/loading_horizontal.gif" style="width: 100%;" />
                    </div>
                }
                <div id="fb_profile_summary"></div>
            }

            <hr />
        </div>
        <div class="col-md-9 col-sm-9">

            @using (Ajax.BeginForm("_Partial_FacebookPage", "Facebook", new AjaxOptions
            {
                OnFailure = "handleError(xhr, 'fb_admin_page')",
                HttpMethod = "Get",
                UpdateTargetId = "fb_admin_page",
                LoadingElementId = "fb_admin_page_loading"
            },
                new
                {
                    id = "fb_admin_page_form"
                }))
            {
                <div id="fb_admin_page_loading" style="display: none;">
                    <img src="~/Content/Images/Shared/loading_horizontal.gif" style="width: 100%; height: 15px;" />
                </div>
            }

            <h3>Page Summary</h3>
            <hr />
            <div id="fb_admin_page"></div>

            @using (Ajax.BeginForm("_Partial_FacebookPagePosts", "Facebook", new AjaxOptions
            {
                OnFailure = "handleError(xhr, 'fb_admin_page_posts')",
                HttpMethod = "Get",
                UpdateTargetId = "fb_posts_current",
                LoadingElementId = "fb_admin_page_posts_loading"
            },
                new
                {
                    id = "fb_admin_page_posts_form"
                }))
            {
                <div id="fb_admin_page_posts_loading" style="display: none;">
                    <img src="~/Content/Images/Shared/loading_horizontal.gif" style="width: 100%; height: 15px;" />
                </div>
            }

            <h3>New Post</h3>
            <hr />
            <div id="fb_new_post">
                @if (Model.IsLoggedIn)
                {
                    @Html.Partial("_Partial_FacebookPagePostForm")
                }
            </div>

            <h3>Page Posts</h3>
            <hr />
            <div id="fb_posts" style="overflow-y: scroll; max-height: 500px">
                <div id="fb_posts_current"></div>
                <div id="fb_posts_load_more"></div>
                <label id="fb_posts_count"></label>
            </div>
        </div>
    </div>
</div>

<br /><br />

@Scripts.Render("~/Scripts/Site/Shared/Ajax_error_handler.js")
@Scripts.Render("~/Scripts/Site/Facebook/facebook.js")