@model TicketManagement.ViewModels.FacebookIndexViewModel
@{
    ViewBag.Title = "Facebook";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

<h2>Facebook Management</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @if (!Model.IsLoggedIn)
            {
                <button class="btn btn-danger disabled" type="button" style="width: 100%">
                    Logged In <span class="badge"><i class="fa fa-times"></i></span>
                </button>
            }
            else
            {
                <button class="btn btn-success disabled" type="button" style="width: 100%">
                    Logged In <span class="badge"><i class="fa fa-check"></i></span>
                </button>
                <hr />

                @Html.Partial("_Partial_FacebookProfileSummary", Model.FacebookProfileSummaryViewModel)
            }

            <hr/>

        </div>
        <div class="col-md-10">
            <h4>Facebooks</h4>
            <br />
            @*<table class="table table-hover table-striped table-responsive">
                    <tr>
                        <th>Recipient</th>
                        <th>
                            Message
                        </th>
                        <th>
                            Sent
                        </th>
                    </tr>

                    @foreach (var text in Model.SentMessages)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => text.UserTo.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => text.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => text.Sent)
                            </td>
                        </tr>
                    }
                </table>*@
        </div>
    </div>
</div>