@using TicketManagement.Management

@if (User.IsInRole(MyRoles.Social))
{
    <h4>Social Media</h4>
    <hr />
    <div id="notifications_social_media_loading" style="display: none;">
        <img src="~/Content/Images/Shared/loading_horizontal.gif" />
    </div>
    <div id="notifications_social_media"></div>

    using (Ajax.BeginForm("_Partial_SocialMedia_Notifications", "Notification", new AjaxOptions
    {
        OnFailure = "handleError(xhr, 'notifications_social_media')",
        HttpMethod = "Get",
        UpdateTargetId = "notifications_social_media",
        LoadingElementId = "notifications_social_media_loading"
    },
        new
        {
            id = "notifications_social_media_form"
        }))
    {
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <strong>Proportion of Tickets Closed Today</strong>
                        </div>
                        <div class="col-md-4">
                            <input id="cb_tickets_today" name="ticketsDay" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="ticketsDay" type="hidden" value="false"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <strong>Proportion of Tickets Closed this Week</strong>
                        </div>
                        <div class="col-md-4">
                            <input id="cb_tickets_week" name="ticketsWeek" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="ticketsWeek" type="hidden" value="false"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <strong>Proportion of Tickets Closed this Month</strong>
                        </div>
                        <div class="col-md-4">
                            <input id="cb_tickets_month" name="ticketsMonth" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="ticketsMonth" type="hidden" value="false"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <strong>Proportion of Tickets Closed in Total</strong>
                        </div>
                        <div class="col-md-4">
                            <input id="cb_tickets_total" name="ticketsTotal" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="ticketsTotal" type="hidden" value="false"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <strong>Average Time Response Today</strong>
                        </div>
                        <div class="col-md-4">
                            <input id="cb_time_today" name="timeDay" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="timeDay" type="hidden" value="false" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <strong>Average Time Response this Week</strong>
                        </div>
                        <div class="col-md-4">
                            <input id="cb_time_week" name="timeWeek" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="timeWeek" type="hidden" value="false" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <strong>Average Time Response this Month</strong>
                        </div>
                        <div class="col-md-4">
                            <input id="cb_time_month" name="timeMonth" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="timeMonth" type="hidden" value="false" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <strong>Average Time Response in Total</strong>
                        </div>
                        <div class="col-md-4">
                            <input id="cb_time_total" name="timeTotal" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="timeTotal" type="hidden" value="false" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-offset-9 col-md-2">
                <strong>Toggle All:</strong>
                <input id="cb_social_media_toggle_all" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="All" data-off="None">
            </div>
            <div class="col-md-1">
                <input type="submit" class="btn btn-success" value="Search"/>
            </div>
        </div>
    }
}