@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

@if (Request.Params["ViewMessage"] == "AppliedRoleFromNotification")
{
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>Success</b> The Notification has been handled and the role has been applied.
    </div>
}

@if (Request.Params["ViewMessage"] == "DeclinedRoleFromNotification" || Request.Params["ViewMessage"] == "DismissedNotification")
{
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>Success</b> The Notification has been dismissed.
    </div>
}

@if (Request.Params["ViewMessage"] == "FailedToApplyRoleFromNotification" || Request.Params["ViewMessage"] == "FailedToDeclineRoleFromNotification" || Request.Params["ViewMessage"] == "FailedToDismissNotification")
{
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>Error</b> An error occurred when trying to handle the Notification.
    </div>
}

<h2>Notifications</h2>
<hr />

<h4>For You</h4>
<hr/>
<div id="notifications_user"></div>
<br/>
<h4>For the Roles you are in</h4>
<hr/>
<div id="notifications_role"></div>

@using (Ajax.BeginForm("_Partial_UserNotifications", "Notification", new AjaxOptions
{
    OnFailure = "handleError(xhr, 'notifications_user')",
    HttpMethod = "Get",
    UpdateTargetId = "notifications_user",
    LoadingElementId = "notifications_user_loading"
},
    new
    {
        id = "notifications_user_form"
    }))
{
    <div id="notifications_user_loading" style="display: none;">
        <img src="~/Content/Images/Shared/loading_horizontal.gif"/>
    </div>
}

@using (Ajax.BeginForm("_Partial_RoleNotifications", "Notification", new AjaxOptions
{
    OnFailure = "handleError(xhr, 'notifications_role')",
    HttpMethod = "Get",
    UpdateTargetId = "notifications_role",
    LoadingElementId = "notifications_role_loading"
},
                new
                {
                    id = "notifications_role_form"
                }))
{
    <div id="notifications_role_loading" style="display: none;">
        <img src="~/Content/Images/Shared/loading_horizontal.gif"/>
    </div>
}

<script type="text/javascript">
    $('#notifications_user_form').submit();
    $('#notifications_role_form').submit();

</script>

@Scripts.Render("~/Scripts/Site/Shared/Ajax_error_handler.js")