@using TicketManagement.Management
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

@Styles.Render("~/bundles/bootstrap_toggle_css")

<style type="text/css">
    .one-line {
        white-space: nowrap;
    }
</style>

@if (Request.Params["ViewMessage"] == "AppliedRoleFromNotification")
{
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>Success</b> The Notification has been handled and the role has been applied.
    </div>
}

@if (Request.Params["ViewMessage"] == "DeclinedRoleFromNotification" || Request.Params["ViewMessage"] == "DismissedNotification")
{
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>Success</b> The Notification has been dismissed.
    </div>
}

@if (Request.Params["ViewMessage"] == "FailedToApplyRoleFromNotification" || Request.Params["ViewMessage"] == "FailedToDeclineRoleFromNotification" || Request.Params["ViewMessage"] == "FailedToDismissNotification")
{
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>Error</b> An error occurred when trying to handle the Notification.
    </div>
}

<h2>Notifications</h2>
<hr/>
<h4>For You</h4>
<hr/>
<div id="notifications_user_loading" style="display: none;">
    <img src="~/Content/Images/Shared/loading_horizontal.gif" />
</div>
<div id="notifications_user"></div>
<br/>
<div id="notifications_role_loading" style="display: none;">
    <img src="~/Content/Images/Shared/loading_horizontal.gif"/>
</div>
<h4>For the Roles you are in</h4>
<hr />
<div id="notifications_role"></div>
<br/>

@if (User.IsInRole(MyRoles.Social))
{
    <h4>Social Media</h4>
    <hr />
    <div id="notifications_social_media_loading" style="display: none;">
        <img src="~/Content/Images/Shared/loading_horizontal.gif" />
    </div>
    <div id="notifications_social_media"></div>

    using (Ajax.BeginForm("_Partial_SocialMedia_Notifications", "Notification", new AjaxOptions
    {
        OnFailure = "handleError(xhr, 'notifications_social_media')",
        HttpMethod = "Get",
        UpdateTargetId = "notifications_social_media",
        LoadingElementId = "notifications_social_media_loading"
    },
        new
        {
            id = "notifications_social_media_form"
        }))
    {
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Tickets Closed Today</strong>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <input type="number" min="0" placeholder="0" name="ticketsDayValue" style="max-width: 100%">
                        </div>
                        <div class="col-md-6">
                            <label>closed today</label>
                        </div>
                        <div class="col-md-3">
                            <input name="ticketsDay" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="ticketsDay" type="hidden" value="false" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Tickets Closed this Week</strong>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <input type="number" min="0" placeholder="0" name="ticketsWeekValue" style="max-width: 100%">
                        </div>
                        <div class="col-md-6">
                            <label>closed this week</label>
                        </div>
                        <div class="col-md-3">
                            <input name="ticketsWeek" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="ticketsWeek" type="hidden" value="false" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Tickets Closed this Month</strong>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <input type="number" min="0" placeholder="0" name="ticketsMonthValue" style="max-width: 100%">
                        </div>
                        <div class="col-md-6">
                            <label>closed this month</label>
                        </div>
                        <div class="col-md-3">
                            <input name="ticketsMonth" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="ticketsMonth" type="hidden" value="false" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-offset-10">
                <input type="submit" class="btn btn-success" value="Search" />
            </div>
        </div>
    }
}

@if (User.IsInRole(MyRoles.Administrator))
{
    <h4>Management</h4>
    <hr />
    <div id="notifications_management_loading" style="display: none;">
        <img src="~/Content/Images/Shared/loading_horizontal.gif" />
    </div>
    <div id="notifications_management"></div>

    using (Ajax.BeginForm("_Partial_Management_Notifications", "Notification", new AjaxOptions
    {
        OnFailure = "handleError(xhr, 'notifications_management')",
        HttpMethod = "Get",
        UpdateTargetId = "notifications_management",
        LoadingElementId = "notifications_management_loading"
    },
        new
        {
            id = "notifications_management_form"
        }))
    {
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-10">
                            <strong>User Who Closed Most Tickets Today</strong>
                        </div>
                        <div class="col-md-2">
                            <input name="userTicketsDay" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="userTicketsDay" type="hidden" value="false" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-10">
                            <strong>User Who Closed Most Tickets This Week</strong>
                        </div>
                        <div class="col-md-2">
                            <input name="userTicketsWeek" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="userTicketsWeek" type="hidden" value="false" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-10">
                            <strong>User Who Closed Most Tickets This Month</strong>
                        </div>
                        <div class="col-md-2">
                            <input name="userTicketsMonth" value="true" class="checkbox" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="success" data-on="Yes" data-off="No">
                            <input name="userTicketsMonth" type="hidden" value="false" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-offset-10">
                <input type="submit" class="btn btn-success" value="Search" />
            </div>
        </div>
    }
}

@using (Ajax.BeginForm("_Partial_UserNotifications", "Notification", new AjaxOptions
{
    OnFailure = "handleError(xhr, 'notifications_user')",
    HttpMethod = "Get",
    UpdateTargetId = "notifications_user",
    LoadingElementId = "notifications_user_loading"
},
    new
    {
        id = "notifications_user_form"
    }))
{ }

@using (Ajax.BeginForm("_Partial_RoleNotifications", "Notification", new AjaxOptions
{
    OnFailure = "handleError(xhr, 'notifications_role')",
    HttpMethod = "Get",
    UpdateTargetId = "notifications_role",
    LoadingElementId = "notifications_role_loading"
},
    new
    {
        id = "notifications_role_form"
    }))
{ }

<br/><br/>

<script type="text/javascript">
    $('#notifications_user_form').submit();
    $('#notifications_role_form').submit();
</script>

@Scripts.Render("~/bundles/bootstrap_toggle_js")
@Scripts.Render("~/Scripts/Site/Shared/Ajax_error_handler.js")