@model TicketManagement.ViewModels.NotificationViewModel

@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav">
    <li><a href="@Url.Action("Index", "Admin")">@Model.Notification</a></li>
</ul>