@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout_Welcome.cshtml";
}
<h1>About.</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Sed quis arcu tempor, sodales sem lobortis, rutrum urna. Quisque hendrerit tortor consectetur, faucibus massa ac, mattis est. Fusce nibh tellus, posuere nec condimentum ut, tempor eu neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sollicitudin dolor risus, eu dapibus sem laoreet vel. Fusce eros massa, imperdiet sit amet commodo et, venenatis lobortis arcu.</p>
        </div>
        <div class="col-md-4">
            <p>Sed quis arcu tempor, sodales sem lobortis, rutrum urna. Quisque hendrerit tortor consectetur, faucibus massa ac, mattis est. Fusce nibh tellus, posuere nec condimentum ut, tempor eu neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sollicitudin dolor risus, eu dapibus sem laoreet vel. Fusce eros massa, imperdiet sit amet commodo et, venenatis lobortis arcu.</p>
        </div>
        <div class="col-md-4">
            <p>Sed quis arcu tempor, sodales sem lobortis, rutrum urna. Quisque hendrerit tortor consectetur, faucibus massa ac, mattis est. Fusce nibh tellus, posuere nec condimentum ut, tempor eu neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sollicitudin dolor risus, eu dapibus sem laoreet vel. Fusce eros massa, imperdiet sit amet commodo et, venenatis lobortis arcu.</p>
        </div>
    </div>
</div>
