@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout_Welcome.cshtml";
}
<h1>Contact.</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <address>
                Hull University<br />
                Cottingham Road<br />
                Hull<br />
                HU6 7RX<br />
                <abbr title="Phone">P:</abbr>
                01482 346311<br />
                <abbr title="Website">W:</abbr>
                <a href="http://www.hull.ac.uk">hull.ac.uk</a><br />
                <abbr title="Email">E:</abbr>
                <a href="mailto:hullstudent@hull.ac.uk">hullstudent@hull.ac.uk</a>
            </address>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            @*TODO: Insert Map Here (http://www.jmelosegui.com/map/)*@
        </div>
    </div>
</div>

