@using TicketManagement.ViewModels
@model IEnumerable<TwitterTweetViewModel>

@if (Model == null)
{
    <p>Please check that you have associated your account with Twitter</p>
}
else
{
    <div>
        @foreach (TwitterTweetViewModel tweet in Model)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>@tweet.Text</strong>
                </div>
            </div>
        }
    </div>
}