<div id="modal_twitter_reply" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-labelledby="modal_twitter_reply_label"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_twitter_reply_label">Reply To Tweet</h4>
            </div>
            <div class="modal-body edit-content">
                <div class="row">
                    <p>Hello world</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>