@{
    ViewBag.Title = "Twitter";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

<h2>Twitter Management</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            
            @if (!Model.IsLoggedIn)
            {
                <button class="btn btn-danger disabled" type="button" style="width: 100%">
                    Logged In <span class="badge"><i class="fa fa-times"></i></span>
                </button>
            }
            else
            {
                <button class="btn btn-success disabled" type="button" style="width: 100%">
                    Logged in <span class="badge"><i class="fa fa-check"></i></span>
                </button>
                <hr />
            }

        </div>
    </div>
</div>


