<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <UserName>$adamboyce</UserName>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adamboyce.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>adamboyce.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>adamboyce</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TicketManagement.Models.Context.ApplicationContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TicketManagement.Models.Context.ApplicationContext, TicketManagement" MigrationConfiguration="TicketManagement.Migrations.Application.Configuration, TicketManagement" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TicketManagementGoDaddy" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=184.168.194.58;Initial Catalog=Ticket_System;Persist Security Info=True;User ID=aboyce;Password=X!B@jWNDun5LhJ5KIyuQ%a%8t" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TicketManagementGoDaddy_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Password=X!B@jWNDun5LhJ5KIyuQ%a%8t;Persist Security Info=True;User ID=aboyce;Initial Catalog=Ticket_System;Data Source=184.168.194.58" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TicketManagementLocal" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TicketManagement-Local.mdf;Initial Catalog=aspnet-TicketManagement-Local;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TicketManagementLocal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TicketManagement-Local.mdf;Initial Catalog=aspnet-TicketManagement-Local;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TicketManagementAzure" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=adamboyce.database.windows.net,1433;Initial Catalog=TicketSystem;Persist Security Info=True;User ID=apboyce@adamboyce;Password=YIuT6QV$pNnEh^4t%jzMBIk9!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TicketManagementAzure_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Password=YIuT6QV$pNnEh^4t%jzMBIk9!;Persist Security Info=True;User ID=apboyce@adamboyce;Initial Catalog=TicketSystem;Data Source=adamboyce.database.windows.net,1433" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TicketManagement" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sql.aboyce.uk,9085;Initial Catalog=TicketManagement;Persist Security Info=True;User ID=Development;Password=!23Abc" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TicketManagement_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Password=!23Abc;Persist Security Info=True;User ID=Development;Initial Catalog=TicketManagement;Data Source=sql.aboyce.uk,9085" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TicketManagement-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TicketManagement.Models.Context.ApplicationContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TicketManagementAzure-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TicketManagementGoDaddy-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TicketManagementLocal-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TicketManagement.Models.Context.ApplicationContext" />
  </ItemGroup>
</Project>