@model Dictionary<char,int>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Admin Panel</h2>
            <br/>
        </div>
    </div>
</div>

@foreach (var kvp in Model)
{
    <li class="list-group-item">
        <span class="badge">@kvp.Value</span>
        @switch (kvp.Key)
                {
                    case 'o':
                        @Html.ActionLink("Organisations", "Index", "Organisations")
                        break;
                }
    </li>
}

<ul class="list-group">
    <li class="list-group-item">
        <span class="badge"></span>
        Cras justo odio
    </li>
    <li class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio
    </li>
    <li class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio
    </li>
</ul>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
