@model HandleErrorInfo

@{
    ViewBag.Title = "Pending";
}

<h1 class="text-warning">Pending Approval</h1>
<h2 class="text-warning">As you have stated that you are an internal member, you will have to be confirmed. Please check back later on this page.</h2>
<h3 class="text-warning"> Details: @ViewBag.Message</h3>


