<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections> 
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings> 
    <add name="TicketManagement" connectionString="Password=!23Abc;Persist Security Info=True;User ID=Development;Initial Catalog=TicketManagement;Data Source=sql.aboyce.uk,9085" providerName="System.Data.SqlClient" />
    <add name="TicketManagementLocal" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TicketManagement-Local.mdf;Initial Catalog=aspnet-TicketManagement-Local;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TicketManagementAzure" connectionString="Password=YIuT6QV$pNnEh^4t%jzMBIk9!;Persist Security Info=True;User ID=apboyce@adamboyce;Initial Catalog=TicketSystem;Data Source=adamboyce.database.windows.net,1433" providerName="System.Data.SqlClient" />
    <add name="TicketManagementGoDaddy" connectionString="Password=X!B@jWNDun5LhJ5KIyuQ%a%8t;Persist Security Info=True;User ID=aboyce;Initial Catalog=Ticket_System;Data Source=184.168.194.58" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--USER CONFIGURATION-->

        <!--DATABASE CONFIGURATION-->
         <add key="DatabaseConnectionString" value="TicketManagementAzure" />
    
        <!--TICKET DURATION-->
          <add key="TicketTimeSpanGreen" value="24" /> <!--Hours-->
          <add key="TicketTimeSpanAmber" value="48" /> <!--Hours-->
          <add key="TicketTimeSpanRed" value="730" /> <!--Hours-->

        <!--TEXT MESSAGES-->
          <add key="Clockwork_APIKey" value="bb3b7849d789b905c1cb1e4f9366d8d1ff18d832" />
          <add key="Clockwork_Receive_Number" value="84433" /> <!-- The shared number configured in ClockworkSMS that is used to contact the system. -->
          <add key="Clockwork_Receive_Keyword" value="TICKETSYSTEM" /> <!-- The keyword configured in ClockworkSMS that is used to direct the messages within the shared number to the system. --> 
          <add key="TextMessage_YourName" value="Ticket System" /> <!-- Used to convert the 'to' part of a recieved text message, if it matches the 'Clockwork_Receive_Keyword'. -->    
          <add key="TextMessageFrom" value="TS" /> <!-- Used as the 'from' value when received on a mobile device. A maximum of 11 characters or 12 digits. -->
          <add key="TextMessageMaxLength" value="160" /> <!-- Characters -->
             
        <!--EXTERNAL LOGINS-->
              <!--FACEBOOK-->
                  <add key="Facebook_GraphAPIVersion" value="2.5" />
                  <add key="Facebook_AppId" value="1685348361712903" />
                  <add key="Facebook_AppSecret" value="cdfe1b832150d77db9bf9f9d2e56ea83" />
                  <add key="Facebook_Permission_Scope" value="email user_about_me user_birthday user_location user_friends manage_pages publish_pages publish_actions" />
                  <add key="Facebook_Admin_Page_Id" value="1661946230689519" /> <!-- Used to identify the Facebook page to be used (can be found with a service like http://findmyfbid.com/). -->
                  <add key="Facebook_Admin_Page_Posts_Batch_Size" value="4" /> <!-- When loading the new posts, how many to pull down at once (less than 50) -->
              <!--TWITTER-->
                  <add key="Twitter_ConsumerKey" value="l9gnPI0cjCCa1STlJ8ySNP7Sb" />
                  <add key="Twitter_ConsumerSecret" value="fQhKIM2sVFaS84d0mvAOUuZsIxB4Kg9jXGwiwPPmsuWqeCGIgW" />
    
    <!--END USER CONFIGURATION-->
    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>