@using TicketManagement.Helpers

@{
    ViewBag.Title = "Text Messages";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

@{
    var temp = Model;
    TextMessageHelper txtManager = new TextMessageHelper();
}

<h2>Text Message Management</h2>
<hr/>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-default disabled" type="button" style="width: 100%">
                Balance <span class="badge">@txtManager.CheckBalance()</span>
            </button>
            <hr/>
            <p>
                @Html.ActionLink("New Message", "Send", null, new {@class = "btn btn-success"})
            </p>
        </div>

        <div id="text_messages_sent"></div>

        @using (Ajax.BeginForm("_Partial_SentMessages", "TextMessages", new AjaxOptions
        {
            OnFailure = "handleError(xhr, 'text_messages_sent')",
            HttpMethod = "Get",
            UpdateTargetId = "text_messages_sent",
            LoadingElementId = "text_messages_sent_loading"
        },
            new
            {
                id = "text_messages_sent_form"
            }))
        {
            <div id="text_messages_sent_loading" style="display: none;">
                <img src="~/Content/Images/Shared/loading_horizontal.gif"/>
            </div>
        }

    </div>
    <div class="row">
        <div id="text_messages_recieved"></div>

        @using (Ajax.BeginForm("_Partial_RecievedMessages", "TextMessages", new AjaxOptions
        {
            OnFailure = "handleError(xhr, 'text_messages_recieved')",
            HttpMethod = "Get",
            UpdateTargetId = "text_messages_recieved",
            LoadingElementId = "text_messages_recieved_loading"
        },
            new
            {
                id = "text_messages_recieved_form"
            }))
        {
            <div id="text_messages_recieved_loading" style="display: none;">
                <img src="~/Content/Images/Shared/loading_horizontal.gif"/>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('#text_messages_sent_form').submit();
    $('#text_messages_recieved_form').submit();

</script>

@Scripts.Render("~/Scripts/Site/Shared/Ajax_error_handler.js")