body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url("../../Images/Wallpapers/bg_mountains.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-welcome {
    /*background: transparent;*/
    background-color: #181818;
}

.container-welcome {
}